.a a {
	color: white;
	text-transform: uppercase;
	margin-left: 100px;
}
.b {
	height: 95%;
}
.whole-cont {
	min-height: 100vh;
	background-color: black;
}
.right-cont {
	background-color: blueviolet;
	min-height: 100vh;
}
.colorMode-cl {
	color: rgb(255, 255, 255) !important;
}
.colorMode-cd {
	color: rgb(123, 123, 123) !important;
}
